body {
  margin: 0;
  padding: 0;
}
.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Background Picture */
img {
  position: relative;
  width: 100%;
  height: 640px;
  opacity: 0.3;
  filter: grayscale(100%);
  animation: back 10s infinite;
}
@keyframes back {
  1% {
    filter: grayscale(75%);
  }
  25% {
    filter: grayscale(50%);
    opacity: 0.6;
  }
  50% {
    filter: grayScale(25%);
  }
  75% {
    filter: grayscale(50%);
    opacity: 0.9;
  }
  100% {
    filter: grayscale(100%);
  }
}
/* Headings */
.headings {
 
  position: absolute;
  top: 18%;
  left: 15%;
}

/* Form */
.container {
  position: absolute;
  top: 40%;
  left: 23%;
  z-index: 100;
}

/* Start  Of Form */
form {
  display: grid;

}

.inputContainer {
  margin: 20px auto auto auto ;
}

.button {
  font-size: 15px;
  margin: 20px auto;
  padding: 20px 30px;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}



/* Start of soicals */

.SoicalButtons{
  position: absolute;
  left: 10%;

}

